:root {
    --primaryBG: black;
    --accentBG: grey;
    --primaryText: white;
    --accentText: grey;
}

body {
    background-color: var(--accentBG);
    color: var(--primaryText);
}

#welcome {
    display: block;
    /* justify-content: center;
    align-items: center; */
    margin: 7em auto;
}

#card1 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
}


.welcome-card {
    text-align: center;

}

.wait {
    text-align: center;
}

#card{
    margin: 0 auto;
}

#loading {
    display: none;
}

#results {
    display: none;
    margin: 1em;
    flex-wrap: wrap;
}

.row {
    display: block;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

input{
    color: white;
}

input:focus,
input:active {
    color: black;
}

#congressCard {
    max-width: 400px;
    margin: 0 auto;
}

#nameOnCard {
    font-size: x-large;
    color: White;
}



/* tbody {
  max-height: 750px;
  overflow-y: auto;
} */

thead,
tbody {
  width: 100%;
}

table {
    max-height: 750px;
    display:block ;
    overflow: scroll;
}

tbody {
  max-height: 750px;
}

tr {
    width: 100%;
}

td {
    width: 12.5%;
    padding: 1em 0;
    text-align: center;
}

#note {
    display: block;
    list-style-type: circle;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}