:root {
    --primaryBG: black;
    --accentBG: grey;
    --primaryText: white;
    --accentText: grey;
}

body {
    background-color: var(--accentBG);
    color: var(--primaryText);
}

#welcome {
    display: block;
    /* justify-content: center;
    align-items: center; */
    margin: 7em auto;
}

#card1 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
}


.welcome-card {
    text-align: center;

}

.wait {
    text-align: center;
}

#card{
    margin: 0 auto;
}

#loading {
    display: none;
}

#results {
    display: none;
    margin: 7em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

input{
    color: white;
}

input:focus,
input:active {
    color: black;
}

#congressCard {
    max-width: 400px;
    margin: 0 auto;
}

#CongressName {
    font-size: x-large;
    color: White;
}