:root {
    --primaryBG: black;
    --accentBG: grey;
    --primaryText: white;
    --accentText: grey;
}

body {
    background-color: var(--accentBG);
    color: var(--primaryText);
}


img {
	top: 10px;
	height: 3em;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}
nav {
	height: 100%;
}
nav > div {
	height: 100%;
}

#welcome {
    display: block;
    /* justify-content: center;
    align-items: center; */
    margin: 7em auto;
}

#card1 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
}


.welcome-card {
    text-align: center;

}

.wait {
    text-align: center;
}

#card{
    margin: 0 auto;
}

#loading {
    display: none;
}

#results {
    display: none;
    margin: 1em;
    flex-wrap: wrap;
}

.row {
    display: block;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

input{
    color: white;
}

input: cus,
input:active {
    color: black;
}

#congressCard {
    max-width: 400px;
    margin: 0 auto;
}

#nameOnCard {
    font-size: x-large;
    color: White;
}



/* tbody {
  max-height: 750px;
  overflow-y: auto;
} */

tr,
table,
thead,
tbody {
  width: 100%;
}

table {
    height: calc(100vh - 300px);
    overflow-y: auto;

}

td, th {
    width: 12.5%;
    padding: 1em 0;
    text-align: center;
}

#note {
    display: block;
    list-style-type: circle;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}